@import url('https://fonts.googleapis.com/css2?family=Oregano:ital@0;1&display=swap');

body {
  background-color: #BC2C23;
  margin: 0;
  padding: 0;
  height: 100vh; /* Usa 100vh para ocupar toda a altura da tela */
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    height: 100vh; /* O container ocupa 100% da altura da tela */
    width: 100%; /* O container ocupa 100% da largura */
}

/* Imagem de fundo, visível apenas em dispositivos móveis */
.backgroundImage {
    width: 100%; /* A imagem ocupa 100% da largura */
    height: auto; /* Mantém a proporção da imagem */
    z-index: 1;
}

/* Navbar, visível apenas em dispositivos móveis */
.navbarImage {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%; /* A navbar ocupa 100% da largura */
    height: auto; /* Mantém a proporção da imagem */
    z-index: 2;
}

/* Estilo para o título */
.titulo {
    color: white;
    font-family: "Oregano", cursive;
    font-size: 8vw; /* Tamanho do texto em relação à largura da tela */
    text-align: center;
    z-index: 3;
    white-space: nowrap;
    position: relative; /* Mantém o título em relação ao contêiner */
    margin: 0; /* Remove qualquer margem padrão */
}

/* Media Queries para responsividade */
@media (max-width: 768px) {
    .titulo {
        font-size: 10vw; /* Aumenta o tamanho do texto em telas menores */
        position: absolute; /* Mantém o texto em posição absoluta */
        top: 50%; /* Centraliza verticalmente */
    }
}

@media (max-width: 480px) {
    .titulo {
        font-size: 12vw; /* Aumenta ainda mais o tamanho do texto para telas muito pequenas */
    }
}

/* Ocultar imagens em telas maiores e centralizar o texto */
@media (min-width: 769px) {
    .backgroundImage, .navbarImage {
        display: none; /* Oculta as imagens em desktops */
    }

    .titulo {
        position: absolute; /* Centraliza o texto ao meio da tela */
        top: 50%;
        transform: translateY(-50%);
        font-size: 48px; /* Tamanho fixo do texto em desktops */
    }
}
