.resultScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #ffecec;
  height: 100vh;
  padding: 20px;
  font-family: 'Poppins', sans-serif;
}

.resultScreen h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.resultScreen p {
  font-size: 18px;
  margin: 10px 0;
}

.mascotImage {
  width: 150px;
  margin-top: 20px;
}

.continueButton {
  margin-top: 30px;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: #76ff76;
  color: white;
}
